# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache

# Environments
.venv/
env/
venv/
.env

# Build / Distribution
.egg-info/
*.egg-info/
dist/
build/

# Project Specific
data/*
!data/.gitkeep
*.db
sqlite.db

# OS Specific
.DS_Store
Thumbs.db